html, body {
  margin: 0px;
  width: 100vw;
  height: 100vh;
  font-family: sans-serif;

}

.root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.menu {
  background: #3d2788;
  color: white;
  height: min-content;
  width: 100%;
  display: flex;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.menu-item {
  padding: 5px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
}

.menu-item:hover {
  background: purple;
  cursor: pointer;
}

.steps {
  display: flex;
  align-items: center;
  padding-left: 5px;
}

.steps > input {
  width: 70px;
  margin-left: 5px;
}

.bottom-container {
  background: blue;
  display: flex;
  flex: 1;
}

.drawing {
  background: floralwhite;
  width: 50%;

}

.model {
  background: red;
  width: 50%;
}