:root {
  --color-purple: #4646ba;
  --color-grey: #e2e2e2;
  --color-orange: #f0bf4d;
}

html, body {
  margin: 0px;
  width: 100vw;
  height: 100vh;
  display: flex;
}

.model-viewer {
  background: var(--color-purple);
  height: 100%;
  width: 70%;
  position: relative;
}

.slider {
  background: var(--color-grey);
  height: 100%;
  width: 10%;
  display: flex;
}

.slider-bar {
  position: relative;
  height: 90%;
  background: grey;
  width: 15px;
  border-radius: 5px;
  margin: auto;
}

.slice-node {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background: var(--color-purple);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.slice-node:hover {
  background: orange;
}

.slice {
  border: 3px solid #00000000;
}

.selected-slice {
  border: 3px solid var(--color-orange);
}

.right-panel {
  width: 20%;
  background: var(--color-grey);
  height: 100%;
}

.slices {
  height: 90%;
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: column;
  overflow: auto;
}

.buttons {
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.buttons > button {
  width: 40%;
  background: var(--color-purple);
  border: none;
  border-radius: 5px;
  color: white;
  margin-right: 3px;
}

.buttons > button:hover {
  opacity: 80%;
}

.editable-canvas-container {
  display: flex;
  justify-content: center
}

.editable-canvas {
  margin-top: 5px;
}

canvas {
  background: black;
}

.snapshots {
  display: none;
}

.sequence-anim {
  background: grey;
  position: absolute;
  right: 0px;
}

.model-container {
  width: 100%;
  height: 100%;
}

